Markdown
Wave
certifi
chardet
cycler
display
idna
kiwisolver
librosa
matplotlib
numpy
pandas
pip
pysndfx
pyaudio
pyparsing
python-dateutil
pytz
requests
requests
scipy
setuptools
six
sys
thinkx
urllib3
wheel  